@import "../variables.scss";

.pageBG {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin-top: 80px;
  //   background-color: yellow;
  background-size: 350px;
}
