$red: #c0392b;
$blue: #2980b9;
$white: #ffffff;
$black: #000000;
$blackLight: #2f3640;
$green: #27ae60;
$gray: #bdc3c7;
$white-light: #ecf0f1;
$yellow: #fbc531;

// Header
$headerBG: #353b48;
$headerTopIconColor: $white-light;
$navLinkColor: $yellow;
$navLinkColorHover: #00a8ff;
$pageBackground: #f1f2f6;

// Footer
$footerBG: rgba(30, 39, 46, 1);

// SUDOKU CELLS BG
$cellBGOne: rgba(45, 52, 54, 0.2);
$cellBGTwo: rgba(247, 183, 49, 0.3);
$cellBGThree: rgba(38, 222, 129, 0.5);
